.art-nav
{
   background: #93ABD7;
   background: rgba(147, 171, 215, 0.2);
   margin:0 auto;
   position: relative;
   z-index: 100;
   font-size: 0;
   padding-left: 120px;
}

ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.art-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.art-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.art-hmenu:after, ul.art-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.art-hmenu, ul.art-hmenu ul 
{
   min-height: 0;
}

ul.art-hmenu 
{
   display: inline-block;
   vertical-align: middle;
   padding-left: 6px;
   padding-right: 6px;
}

.art-nav-inner:before 
{
   content:' ';
}

.art-nav-inner{
   text-align: left;
   margin:0 auto;
}

.desktop-nav .art-nav-inner{
   width: 900px;
   padding-left: 6px;
   padding-right: 6px;
}

.desktop-nav.art-nav
{
   padding-left: 180px;
   padding-right: 0;
}

.art-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.art-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.art-hmenu
{
   float: left;
}

.art-menuitemcontainer
{
   margin:0 auto;
}
ul.art-hmenu>li {
   margin-left: 9px;
}
ul.art-hmenu>li:first-child {
   margin-left: 4px;
}
ul.art-hmenu>li:last-child, ul.art-hmenu>li.last-child {
   margin-right: 4px;
}

ul.art-hmenu>li>a
{
   -webkit-border-radius:8px;
   -moz-border-radius:8px;
   border-radius:8px;
   padding:0 17px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 27px;
   cursor: pointer;
   text-decoration: none;
   color: #F0F0F0;
   line-height: 27px;
   text-align: center;
}

.art-hmenu a, 
.art-hmenu a:link, 
.art-hmenu a:visited, 
.art-hmenu a.active, 
.art-hmenu a:hover
{
   font-size: 25px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   text-align: left;
}

ul.art-hmenu>li>a.active
{
   background: #93ABD7;
   background: rgba(0, 0, 0, 0);
   -webkit-border-radius:8px;
   -moz-border-radius:8px;
   border-radius:8px;
   padding:0 17px;
   margin:0 auto;
   color: #FFFFFF;
   text-decoration: none;
}

ul.art-hmenu>li>a:visited, 
ul.art-hmenu>li>a:hover, 
ul.art-hmenu>li:hover>a {
   text-decoration: none;
}

ul.art-hmenu>li>a:hover, .desktop ul.art-hmenu>li:hover>a
{
   background: #3C5A8B;
   background: rgba(60, 90, 139, 0.4);
   -webkit-border-radius:8px;
   -moz-border-radius:8px;
   border-radius:8px;
   padding:0 17px;
   margin:0 auto;
}
ul.art-hmenu>li>a:hover, 
.desktop-nav ul.art-hmenu>li:hover>a {
   color: #FFFFFF;
   text-decoration: none;
}

ul.art-hmenu>li:before
{
   position:absolute;
   display: block;
   content:' ';
   top:0;
   left:  -9px;
   width:9px;
   height: 27px;
   background: url('images/menuseparator.png') center center no-repeat;
}
ul.art-hmenu>li:first-child:before{
   display:none;
}

ul.art-hmenu li li a
{
   background: #FEE7C8;
   border:1px solid #FEF2D2;
   padding:0 22px;
   margin:0 auto;
}
ul.art-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 0;
   margin-bottom: 0;
}

.desktop-nav ul.art-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.art-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.art-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 23px;
   min-width: 7em;
   border: 1px solid transparent;
   text-align: left;
   line-height: 23px;
   color: #055485;
   font-size: 12px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

.art-hmenu li li a 
{
   border-top-width: 0 !important;
}
.art-hmenu li li:hover a 
{
   border-top-width: 1px !important;
}
.art-hmenu ul>li:first-child>a 
{
   border-top-width: 1px !important;
}

.art-hmenu ul a:link, 
.art-hmenu ul a:visited, 
.art-hmenu ul a.active, 
.art-hmenu ul a:hover
{
   text-align: left;
   line-height: 23px;
   color: #055485;
   font-size: 12px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

ul.art-hmenu ul li a:hover, .desktop ul.art-hmenu ul li:hover>a
{
   background: #58BBF9;
   border:1px solid #30ABF8;
   margin:0 auto;
}

.art-hmenu ul li a:hover
{
   color: #000000;
}

.art-hmenu ul li a.art-hmenu-before-hovered 
{
   border-bottom-width: 0 !important;
}

.desktop-nav .art-hmenu ul li:hover>a
{
   color: #000000;
}

ul.art-hmenu ul:before
{
   background: #0995EC;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop-nav ul.art-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop-nav ul.art-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.art-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
}

.desktop-nav ul.art-hmenu>li>ul
{
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.art-hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

.desktop-nav ul.art-hmenu ul.art-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.art-hmenu ul.art-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop-nav ul.art-hmenu li li:hover>ul.art-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop-nav ul.art-hmenu li li:hover>ul.art-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
}

.desktop-nav ul.art-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop-nav ul.art-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop-nav ul.art-hmenu ul ul:before
{
   border-radius: 0;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 10px;
}

.desktop-nav ul.art-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop-nav ul.art-hmenu>li>ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.art-hmenu>li>ul.art-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.art-hmenu ul ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 10px;
}
.desktop-nav ul.art-hmenu ul ul.art-hmenu-right-to-left:before {
   right: 10px;
   left: 30px;
}


.art-footer
{
   background: rgba(147, 171, 215, 0.2);
   margin:0 auto;
   position: relative;
   color: #C4C4C4;
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-align: center;
   padding: 0;
}

.art-footer a,
.art-footer a:link,
.art-footer a:visited,
.art-footer a:hover,
.art-footer td, 
.art-footer th,
.art-footer caption
{
   color: #C4C4C4;
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-footer p 
{
   padding:0;
   text-align: center;
}

.art-footer a,
.art-footer a:link
{
   color: #5992CF;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-footer a:visited
{
   color: #949494;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-footer a:hover
{
   color: #A0C1E3;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
}

.art-footer img
{
   border: none;
   margin: 0;
}

.art-footer-inner
{
   margin: 0 auto;
   width:900px;
   padding:5px;
   padding-right: 5px;
   padding-left: 5px;
}

.art-footer li
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 125%;
   color: #E0E0E0;
}

.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #B8D0EA;
}

.art-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #DBE8F5;
}
