#alumlist {
	margin: auto;
}

	#alumlist th,td {
		text-align: center;
		padding: 5px 20px;
	}

	#alumlist tr:nth-child(2n) {
		color: #D0EC11;
		background: #505050;
	}

	#alumlist tr:nth-child(2n+1) {
		color: #040404;
		background: #C5D256;
	}

	#alumlist tr:nth-child(2n):hover {
		color: #C5D256;
		background: #040404;
		cursor: pointer;
	}

	#alumlist tr:nth-child(2n+1):hover {
		color: #141414;
		background: #D0EC11;
		cursor: pointer;
	}

	#alumlist tr.head:hover {
		color: #040404;
		background: #C5D256;
		cursor: inherit;
	}