		*{
			margin:0;
			padding:0;
			list-style:none;
			border:none;
		}
		body{
			font-family:Verdana,Arial,Sans-Serif;
			font-size:90%;
			background:#0a2b43;
			color:#ccc;
		}
		
		div.domtab{
			padding:0 3em;
			width:80%;
			font-size:90%;
		}
		ul.domtabs{
			float:left;
			width:100%;
			margin:2em -22em 0 0;
margin-left: 22em;			
		}
		ul.domtabs li{
			float:left;
			padding:0 .5em 0 0;
		}
		ul.domtabs a:link,
		ul.domtabs a:visited,
		ul.domtabs a:active,
		ul.domtabs a:hover{
			width:8em;
			padding:.2em 1em;
			display:block;
			background: #0a2b43;
			color:#ccc;
			height:3em;
			font-weight:bold;
			text-decoration:none;
		}
		html>body ul.domtabs a:link,
		html>body ul.domtabs a:visited,
		html>body ul.domtabs a:active,
		html>body ul.domtabs a:hover{
			height:auto;
			min-height:3em;
		}
		ul.domtabs a:hover{
			background:#0c1d2a;
		}
		div.domtab div{
clear: both;
width: 764px;
background: #fff6d8;
color: rgb(47, 65, 122);
padding: 1em 3em;
margin-left: 220px;[]

		}
		ul.domtabs li.active a:link,
		ul.domtabs li.active a:visited,
		ul.domtabs li.active a:active,
		ul.domtabs li.active a:hover{
			background:#0c1d2a;
			color:#fff;
		}
		#domtabprintview{
			float:right;
			padding-right:1em;
			text-align:right;
		}
		#domtabprintview a:link,
		#domtabprintview a:visited,
		#domtabprintview a:active,
		#domtabprintview a:hover{
			color:#fff;
		}
		p{
			margin:0 0 .5em 0;
			line-height:1.6em;
		}
		h2{
			font-size:1.3em;
			color: rgb(1, 1, 14);
			text-transform:uppercase;
			font-family:Verdana,Arial,Sans-Serif;
			padding:0 0 .7em .2em;
		}
		h1{
			font-size:2em;
			text-align:center;
			font-weight:normal;
			text-transform:uppercase;
			font-family:"Trebuchet MS",Arial,Sans-Serif;
			padding:.5em 0;
			background:#000;
			border-bottom:1px solid  #0a2b43;
		}
		pre{
			font-size:1.2em;
			padding:1em;
		}
		div.domtab div a:link,
		div.domtab div a:visited,
		div.domtab div a:active
		{
			color:#000000;
			display:block;
			padding:1em .5em;
			font-weight:bold;
			font-size:1.3em;
		}
		div.domtab div h2 a,
		div.domtab div h2 a:hover,
		div.domtab div h2 a:active
		{
			color:#000000;
			display:inline;
			padding:0;
			font-weight:normal;
			font-size:1em;
		}
		
/* other scheme! */
#other{

	font-size:.8em;
	margin-left:30em;
		width:764em;
	margin-bottom:10em;
	float:middle;
}
div#other.domtab div{
	clear:both;
	width:764em;
	background:#fff6d8;
	color:#000000;
	padding:1em 3em;
}


	
#other ul.domtabs a:hover{
	background:##0c1d2a;
}
div#other ul.domtabs li.active a:link,
div#other ul.domtabs li.active a:visited,
div#other ul.domtabs li.active a:active,
div#other ul.domtabs li.active a:hover{
	background:#669;
	color:#fff;
}
#other div{
	float:left;
}
ul.prevnext{
	float:left;
	width:100%;
}
ul.prevnext li{
	float:left;
	width:49%;
}
ul.prevnext li.next{
	float:right;
	text-align:right;
}
