		*{
			margin:0;
			padding:0;
			list-style:none;
			border:none;
		}
		body{
			font-family:Verdana,Arial,Sans-Serif;
			font-size:90%;
			background:#0a2b43;
			color:#ccc;
		}
		
		div.domtab{
			padding:0 3em;
			width:80%;
			font-size:90%;
		}
		ul.domtabs{
			float:left;
			width:100%;
			margin:2em 0 0 0;
margin-left: 24em;			
		}
		ul.domtabs li{
			float:left;
			padding:.5em .5em 0 0
		}


		
/* other scheme! */
#other{
	font-size:.8em;
	margin-left:.3em;
	width:764em;
	margin-bottom:10em;
	float:left;
}
div#other.domtab div{
	clear:both;
	width:764em;
	background:#fff6d8;
	color:rgb(10, 44, 71);
	padding:1em 3em;
}
		
#other ul.domtabs a:hover{
	background:#0c1d2a;
}
div#other ul.domtabs li.active a:link,
div#other ul.domtabs li.active a:visited,
div#other ul.domtabs li.active a:active,
div#other ul.domtabs li.active a:hover{
	background:#0c1d2a;
	color:#00000;
}
#other div{
	float:left;
}
ul.prevnext{
	float:left;
	width:100%;
}
ul.prevnext li{
	float:left;
	width:49%;
}
ul.prevnext li.next{
	float:right;
	text-align:right;
}
