 

@font-face {
    font-family: 'Apercu Regular';
    src: url('http://f.fontdeck.com/f/1/STFVNlNJemMAAaKWKm+pvQMNdTFwvwR6twTLCDytw36if/DTlmRGzK9R86CIuunartY.eot');
    src: url('http://f.fontdeck.com/f/1/STFVNlNJemMAAaKWKm+pvQMNdTFwvwR6twTLCDytw36if/DTlmRGzK9R86CIuunartY.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/STFVNlNJemMAAaKWKm+pvQMNdTFwvwR6twTLCDytw36if/DTlmRGzK9R86CIuunartY.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/STFVNlNJemMAAaKWKm+pvQMNdTFwvwR6twTLCDytw36if/DTlmRGzK9R86CIuunartY.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Bold';
    src: url('http://f.fontdeck.com/f/1/OUtPSTRYclIAAQo0ba2JEgaTTDbKKV1pTGaT7pjM1/HN8wy7ZtkFUYvvB7L8Bm7W5cs.eot');
    src: url('http://f.fontdeck.com/f/1/OUtPSTRYclIAAQo0ba2JEgaTTDbKKV1pTGaT7pjM1/HN8wy7ZtkFUYvvB7L8Bm7W5cs.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/OUtPSTRYclIAAQo0ba2JEgaTTDbKKV1pTGaT7pjM1/HN8wy7ZtkFUYvvB7L8Bm7W5cs.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/OUtPSTRYclIAAQo0ba2JEgaTTDbKKV1pTGaT7pjM1/HN8wy7ZtkFUYvvB7L8Bm7W5cs.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}