a {
	color: inherit;
	text-decoration: none;
}

#body {
	margin: 0px;
	background: white;    
    height:95%;
}

#body iframe{
    width:99.5%;
}

	#pmenu {
		background: #141414;
		padding: 24px;
		height: 24px;
		font-size: 13px;
		font-family: Helvetica;
	}

		#pmenu ul {
			font-weight: bold;
			position: relative;
			color: white;
			float: right;
			margin-right: 300px;
			list-style-type: none;
            padding-top: 13px;
		}

			#pmenu ul li {
				margin-left: 1px;
				text-align: center;
				cursor: pointer;
				float: left;
				height: 24px;
				padding-top: 10px;
				min-width: 120px;
				background: url("../images/menu-bg.jpg") 0px 0px;
			}

			#pmenu ul li:hover {
				background: url("../images/menu-bg.jpg") 0px -34px;
			}

			#pmenu ul li.selected {
				background: url("../images/menu-bg.jpg") 0px -68px;
			}
			
			#pmenu ul li a{
				padding: 10px 20px 10px 20px;
			}
	#tmenu {
		background: #141414;
		height: 15px;
		font-size: 10px;
		font-family: Helvetica;
	}

		#tmenu ul {
			position: absolute;
			color: white;
			list-style-type: none;
            margin-left: 70%;
		}

			#tmenu ul li {
				margin-left: 1px;
				text-align: center;
				cursor: pointer;
				float: left;
				height: 15px;
				padding-top: 2px;
				min-width: 70px;
				background: url("../images/menu-bg.jpg") 0px 0px;
			}

			#tmenu ul li:hover {
				background: url("../images/menu-bg.jpg") 0px -34px;
			}

			#tmenu ul li.selected {
				background: url("../images/menu-bg.jpg") 0px -68px;
			}
	
			#tmenu ul li a{
                padding: 2px 20px;
			}

	#bar {
		margin-top: 0px;
		background: #C5D256;
		height: 30px;
	}
	
		#phonathon {
			height: 108px;
			background: url("../images/phone.png");
			width: 120px;
			position: absolute;
			top: 30px;
			left: 150px;
		}
	
	#content {
		width: 100%;
		height: 80%;
	}